/**
 * @file
 * @author jinguangguo
 * @date 2015/11/14
 */

$main-font-color: #FB9D00;
$main-color: #1ccd6f;
$border-color-level1: #dcddde;
$border-color-level2: #ccc;
$bg-color: #ebebeb;
$font-color-level1: #9d9e9e;
$font-color-level2: #6d6d6e;
$font-color-level3: #3c3d3d;