/**
 * @file
 * @author jinguangguo
 * @date 2015/11/14
 */

@import 'common/variable';
@import 'common/mixin';
@import 'common/reset';
@import 'common/function';

// 解决chrome12像素大小的限制
body {
    -webkit-text-size-adjust:none;
    -webkit-font-smoothing: antialiased;
}

.main {
    width: 920px;
    margin: 0 auto;
    padding-top: 50px;
}