/**
 * @file
 * @author jinguangguo
 * @date 2015/11/25
 */

@import "../../widget/paperManager/shapeBox/shapeBox";

.module-h5pic {

    .title {
        text-align: center;
        &-link {
            float: left;
            font-size: 1.2rem;
            font-weight: normal;
        }
    }

    .h5pic-list {

    }

    .h5pic-detail {

    }
}

