/**
 * @file
 * @author jinguangguo
 * @date 2015/11/14
 */
/**
 * @file
 * @author jinguangguo
 * @date 2015/11/14
 */
/**
 * @file
 * @author jinguangguo
 * @date 2015/11/14
 */
/**
 * @file
 * @author jinguangguo
 * @date 2015/11/14
 */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*    resetcss
    Version: 1.0.2
    Licence: MIT
    Repo   : https://github.com/chharvey/resetcss.git
    Home   : https://chharvey.github.io/resetcss/
    Author : https://chharvey.github.io/
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*================================*    reset.less
\*================================*/
body {
  text-align: left;
  background: #fff;
  color: #000; }

sup, sub {
  vertical-align: inherit; }

body,
h1, h2, h3, h4, h5, h6,
hr,
p, figure, blockquote, pre,
ol, ul, dl,
dd,
fieldset {
  margin: 0; }

ol, ul,
th, td {
  padding: 0; }

h1, h2, h3, h4, h5, h6,
address,
pre,
th,
em, strong, i, small,
dfn, b, var, cite, sup, sub,
code, kbd, samp {
  font: inherit; }

table {
  text-align: left; }

caption,
th {
  text-align: inherit; }

pre {
  white-space: inherit; }

mark {
  background: transparent; }

a,
u, s, ins, del {
  text-decoration: none; }

ol, ul {
  list-style: none; }

q {
  quotes: none; }

a,
mark {
  color: inherit; }

/**
 * @file
 * @author jinguangguo
 * @date 2015/11/14
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all; }

.icon {
  display: inline-block;
  vertical-align: middle; }

body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased; }

.main {
  width: 920px;
  margin: 0 auto;
  padding-top: 50px; }
